#contents{
    
}

h1{
    font-size: 2em;
    font-weight: bold;
    left: 0;
    margin: 0 0 auto;
    position:absolute;
    top: 50%;
    width: 100%;
}

h2{
    color:dimgray;
    left:0;
    width: 100%;
    margin: 0 0 auto;
    margin-bottom: 50px;
    position: absolute;
}

h3{
    color:cadetblue;
    font-size: 1.4em;
    text-align: center;
}

#header{
    color: #F75959;
    background-color:#fdf9f0;
    position:relative;
    width: 100%;
    min-height: 100vh;
    left:0;
    top:0;
    text-align: center;
    margin-bottom:0.5em;
}

#rows{
    text-align: center;
    color:darkgrey;
    position: relative;
}

#projectheader{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 32px;
    text-align: center;
    padding-top: 10px;
    position: relative;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
}

p{
    font-size: 1em;
}

a{
    text-decoration: none;
}

#footer{
    color: cadetblue;
    text-align: center;
    clear: both;
    position: relative;
    z-index: 10;
    height: 1em;
    margin-top: -2em;
}