h1{
    font-size: 2em;
    font-weight: bold;
    font-family: Calibri, sans-serif;
}

#header{
    color: #F75959;
    background-color:#d0e4e5;
    position:absolute;
    width: 100%;
    min-height: 100vh;
    position:absolute;
    left:0;
    top:0;
    text-align: center;
    margin-bottom:0.5em
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}